.container{
    height: 70vh;
    width: 30vw;
    overflow-x: hidden;
    margin: 1rem 30rem;
}

.wrapper{
    width: 90vw;
    height: 100%;
    transition: all 2s ease-in-out;
    display: flex;
}

.cardContainer{
    width: 30vw;
    height: 100%;
    position: relative;
}
.iconButton{
    margin-top:180px;
    z-index: 100;
    color: red;
    cursor: pointer;
    position: absolute;
}